a.nav-link {
  color: rgba(71, 112, 177, 0.9) !important;
  font-weight: 500;
}

a.nav-link:hover {
  color: rgba(71, 112, 177, 1) !important;
  text-decoration: underline;
}

.card .fa-caret-right { display: none; }
.card .fa-caret-down { display: inline; }
.card .collapsed .fa-caret-right { display: inline; }
.card .collapsed .fa-caret-down { display: none; }

.badge-blue {
  background-color: #295986;
  color: white;
}

.badge-teal {
  background-color: #37AE94;
  color: white;
}

.taxonomy-term a {
  color: white;
  text-decoration: none;
}

.group {
  color: rgba(77, 77, 77, 0.9);
  font-weight: 700;
  font-size: 1.2em;
  background-color: rgba(233, 235, 238, 0.6);
}

.group .bi-caret-right-fill { display: none; }
.group .bi-caret-down-fill { display: inline; }

.group.collapsed .bi-caret-right-fill { display: inline; }
.group.collapsed .bi-caret-down-fill { display: none; }

.filters .bi-caret-right-fill { display: none; }
.filters .bi-caret-down-fill { display: inline; }

.filters .collapsed .bi-caret-right-fill { display: inline; }
.filters .collapsed .bi-caret-down-fill { display: none; }
