<footer>
  <div class="container border-top">
    <div class="row">
      <div class="col mx-1 mt-2">
        <p>The Swedish COVID-19 Sample Collection Database is a section of the <a href="https://pathogens.se"
          target="_blank">Swedish Pathogens Portal</a> (formerly the Swedish COVID-19 and Pandemic Preparedness Portal)
          maintained in collaboration with <a href="https://biobanksverige.se/" target="_blank">Biobank Sverige</a>.
          The project was initially funded by the <a href="https://vr.se/" target="_blank">Swedish Research Council</a>
          as part of the effort to coordinate the collection of and access to samples linked to COVID-19. The Portal is
          now funded by the <a href="https://www.scilifelab.se/capabilities/pandemic-laboratory-preparedness/"
          target="_blank">SciLifeLab Pandemic Laboratory Preparedness (PLP) Program</a> to continue this work. Please
          <a href="https://pathogens.se/biobanks/" target="_blank">see this page</a> for more information about
          the database. Questions, comments, and suggestions regarding the database can be sent to <a
            href="mailto:datacentre@scilifelab.se">datacentre@scilifelab.se</a>.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img class="mr-3" src="/img/scilifelab-logo.svg" alt="SciLifeLab" height="40">
        <img class="mr-3" src="/img/biobanksverige_logo.jpg" alt="Biobank Sverige" height="40">
        <img class="mr-3" src="/img/KAW_logo.png" alt="Knut and Alice Wallenberg Foundation logo" height="100">
      </div>
    </div>

    <div class="row">
      <div class="col mx-1 mt-4">
        <p class="small"><a href="https://github.com/ScilifelabDataCentre/covid-sample-collection-database">Website code
            on GitHub</a></p>
        <p class="small"><a href="https://pathogens.se/privacy/">Privacy notice</a></p>
      </div>
    </div>

  </div>
</footer>

<!-- Bootstrap-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<!-- Analytics -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.covid19dataportal.se"]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//matomo.dckube.scilifelab.se/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
  })();
</script>