<footer>
  <div class="container border-top">
    <div class="row">
      <div class="col mx-1 mt-2">
              <p>The Swedish COVID-19 Sample Collection Database is a section of the <a href="https://covid19dataportal.se" target="_blank">COVID-19 Data Portal Sweden</a> maintained in collaboration with <a href="https://biobanksverige.se/" target="_blank">Biobank Sverige</a>.
                The project is funded by the <a href="https://vr.se/" target="_blank">Swedish Research Council</a> as part of the effort to coordinate the collection of and access to samples linked to COVID-19. Please <a href="https://covid19dataportal.se/biobanks/" target="_blank">see this page</a> for more information about the database. Questions, comments, and suggestions regarding the database can be sent to <a href="mailto:datacentre@scilifelab.se">datacentre@scilifelab.se</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class="mr-3" src="https://covid19dataportal.se/img/logos/scilifelab-logo.svg" alt="SciLifeLab" height="40">
      <img class="mr-3" src="https://covid19dataportal.se/img/logos/biobanksverige_logo.jpg" alt="Biobank Sverige" height="40">
    </div>
  </div>

  <div class="row">
    <div class="col mx-1 mt-4">
            <p class="small"><a href="https://github.com/ScilifelabDataCentre/covid-sample-collection-database">Website code on GitHub</a></p>
            <p class="small"><a href="https://covid19dataportal.se/privacy/">Privacy notice</a></p>
  </div>
</div>

</div>
</footer>

<!-- Bootstrap-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/471b59d3f8.js" crossorigin="anonymous"></script>

<!-- Analytics -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.covid19dataportal.se"]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.dckube.scilifelab.se/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
