<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Site meta -->
  <title>{{ if eq .Page.Section "collections" }} {{ .Params.name }} | {{ .Site.Title }}{{ else if eq .Title "Swedish COVID-19 Sample Collection Database" }} {{ .Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content='{{ if .IsHome }}{{ .Param "description" }}{{ else }}{{ .Description }}{{ end }}'>
  <meta http-equiv="content-language" content="en">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="https://pathogens.se/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://pathogens.se/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://pathogens.se/favicon-16x16.png">
  <link rel="mask-icon" href="https://pathogens.se/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Portal CSS -->
  <link rel="stylesheet" href="https://pathogens.se/css/styles.css">
  <!-- Additional local CSS -->
  <link rel="stylesheet" href="/css/style.css">

  {{ if .IsHome }}
  <!-- DataTables -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

  <!-- requirements for DataTables rowGroup, for grouping rows -->
  <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>
  <!-- <link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet" type="text/css" /> -->
  {{ end }}

</head>
