<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container pb-2 border-bottom">
      <a class="navbar-brand" href="https://covid19dataportal.se/">
        <img src="https://covid19dataportal.se/img/site_logo/CV19DP_logo_oneliner_SWE.svg"
          alt="COVID-19 Biobank Registry, part of the Swedish COVID-19 and Pandemic Preparedness Portal">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseBottom"
        aria-controls="navbarCollapseBottom" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapseBottom">
        <div class="navbar-primary-links">
          <a class="nav-link" href="/">Sample Collection Database</a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="https://covid19dataportal.se/"><i
                class="bi bi-arrow-left-circle-fill"></i> back to the COVID-19 and Pandemic Preparedness
              Portal</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>