{{ define "main" }}

<div class="row">
  <div class="col-md-3 text-muted">
    <div class="alert alert-info small" role="alert">
      <i class="fas fa-exclamation-circle"></i> Search function is temporarily disabled. We are working to enable it again as soon as possible.
    </div>
    <div class="card">
        <div data-toggle="collapse" data-target="#collapseName" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseName" id="headingName"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Name </div>
        <div id="collapseName" class="collapse" aria-labelledby="headingName">
        <div class="card-body">
          <fieldset disabled><input type="search" class="form-control form-control-sm" placeholder="" aria-controls=""></fieldset>
            <small class="form-text text-muted">Start typing to filter the collections displayed</small>
        </div>
      </div>
    </div>

    <div class="card">
        <div data-toggle="collapse" data-target="#collapseDiagnoses" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseDiagnoses" id="headingDiagnoses"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Diagnoses </div>
        <div id="collapseDiagnoses" class="collapse" aria-labelledby="headingDiagnoses">
        <div class="card-body">
            <div class="custom-control custom-checkbox"><input type="checkbox" name="diagnoses" autocomplete="off" class="custom-control-input" value="u071"><label class="custom-control-label">Laboratory-confirmed COVID-19 diagnosis; U07.1</label></div>
            <div class="custom-control custom-checkbox"><input type="checkbox" name="diagnoses" autocomplete="off" class="custom-control-input" value="u072"><label class="custom-control-label">Suspect or probable COVID-19 diagnosis; U07.2</label></div>
        </div>
      </div>
    </div>

      <div class="card">
          <div data-toggle="collapse" data-target="#collapseMaterials" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseMaterials" id="headingMaterials"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Materials </div>
          <div id="collapseMaterials" class="collapse" aria-labelledby="headingMaterials">
          <div class="card-body">
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="BUFFY_COAT"><label class="custom-control-label">Buffy Coat</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="CDNA"><label class="custom-control-label">cDNA / mRNA</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="CELL_LINES"><label class="custom-control-label">Cell lines</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="CSF"><label class="custom-control-label">Cerebrospinal fluid</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="DNA"><label class="custom-control-label">DNA</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="FECES"><label class="custom-control-label">Feces</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="MICRO_RNA"><label class="custom-control-label">microRNA</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="NASAL_SWAB"><label class="custom-control-label">Nasal swab</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="OTHER"><label class="custom-control-label">Other</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="PATHOGEN"><label class="custom-control-label">Pathogen</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="PBMC"><label class="custom-control-label">PBMC</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="PERIPHERAL_BLOOD_CELLS"><label class="custom-control-label">Peripheral blood cells</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="PLASMA"><label class="custom-control-label">Plasma</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="RNA"><label class="custom-control-label">RNA</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="SALIVA"><label class="custom-control-label">Saliva</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="SERUM"><label class="custom-control-label">Serum</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="THROAT_SWAB"><label class="custom-control-label">Throat swab</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="TISSUE_FROZEN"><label class="custom-control-label">Tissue (frozen)</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="TISSUE_PARAFFIN_EMBEDDED"><label class="custom-control-label">Tissue (paraffin preserved)</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="TISSUE_STAINED"><label class="custom-control-label">Tissue (stained sections/slides)</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="URINE"><label class="custom-control-label">Urine</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="materials" autocomplete="off" class="custom-control-input" value="WHOLE_BLOOD"><label class="custom-control-label">Whole Blood</label></div>
          </div>
        </div>
      </div>

      <div class="card">
          <div data-toggle="collapse" data-target="#collapseCollectionTypes" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseCollectionTypes" id="headingCollectionTypes"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Collection types </div>
          <div id="collapseCollectionTypes" class="collapse" aria-labelledby="headingCollectionTypes">
          <div class="card-body">
              <div class="custom-control custom-checkbox"><input type="checkbox" name="collectiontypes" autocomplete="off" class="custom-control-input" value="healthcare"><label class="custom-control-label">Healthcare sample collection</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="collectiontypes" autocomplete="off" class="custom-control-input" value="research"><label class="custom-control-label">Research sample collection</label></div>
          </div>
        </div>
      </div>

      <div class="card">
          <div data-toggle="collapse" data-target="#collapseDataTypes" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseDataTypes" id="headingDataTypes"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Data types </div>
          <div id="collapseDataTypes" class="collapse" aria-labelledby="headingDataTypes">
          <div class="card-body">
              <div class="custom-control custom-checkbox"><input type="checkbox" name="datatypes" autocomplete="off" class="custom-control-input" value="biologicalsamples"><label class="custom-control-label">Biological samples</label></div>
              <div class="custom-control custom-checkbox"><input type="checkbox" name="datatypes" autocomplete="off" class="custom-control-input" value="medicalrecords"><label class="custom-control-label">Medical records</label></div>
          </div>
        </div>
      </div>

  </div>

  <div class="col-md-9">
    <div class="row mb-2">
      <div class="col-md-12 mt-3 mt-md-0">
        {{ $collections := where .Site.RegularPages "Section" "collections" }}
        {{ $len_collections := len $collections }}
        {{ $biobanks_and_collections := where .Site.Pages "Section" "collections" }}
        {{ $len_biobanks := sub (sub (len $biobanks_and_collections) 1) $len_collections }}
        <em>{{ $len_biobanks }} biobanks with {{ $len_collections }} collections matching the search criteria</em>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="d-md-none alert alert-info small">Scroll the table sideways to view all columns.</div>
        <div class="table-responsive">
          <table class="table table-hover" width="100%">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Materials</th>
              </tr>
            </thead>
            <tbody>
              {{ range sort .Site.RegularPages ".Parent.Params.name" "asc" }}
              <tr>
                <td><small><b>{{ .Parent.Params.name }}:</b></small><br><h5><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></h5></td>
                <td><span class="m-1 badge badge-secondary">{{ .Params.collection_category }}</span></td>
                <td><span class="m-1 badge badge-success">{{ if eq .Params.order_of_magnitude 0 }}
                              &#60;10
                              {{ else if eq .Params.order_of_magnitude 1 }}
                              10 - 100
                              {{ else if eq .Params.order_of_magnitude 2 }}
                              100 - 1000
                              {{ else if eq .Params.order_of_magnitude 3 }}
                              1000 - 10.000
                              {{ else if eq .Params.order_of_magnitude 4 }}
                              10.000 - 100.000
                              {{ else if eq .Params.order_of_magnitude 5 }}
                              100.000 - 1.000.000
                              {{ else if eq .Params.order_of_magnitude 6 }}
                              1.000.000 - 10.000.000
                              {{ else if eq .Params.order_of_magnitude 7 }}
                              10.000.000 - 100.000.000
                              {{ else if eq .Params.order_of_magnitude 8 }}
                              100.000.000 - 1.000.000.000
                              {{ end }}</span></td>
                <td><span class="m-1 badge badge-danger">{{ range (.GetTerms "materials") }}</span>
                    <span class="m-1 badge badge-danger taxonomy-term"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></span>
                  {{ end }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
