{{ define "main" }}

<div class="row">
  <div class="col-md-3 form-check">

    <div><h6>Filtering tools</h6></div>

    <div class="card">
        <div data-toggle="collapse" data-target="#collapseName" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseName" id="headingName"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Name </div>
        <div id="collapseName" class="collapse" aria-labelledby="headingName">
        <div class="card-body">
          <fieldset><input type="text" class="form-control form-control-sm" placeholder="" aria-controls="" id="nameField"></fieldset>
            <small class="form-text text-muted">Start typing to filter by collection name or biobank name</small>
        </div>
      </div>
    </div>

    <div class="card">
        <div data-toggle="collapse" data-target="#collapseDiagnoses" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseDiagnoses" id="headingDiagnoses"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Diagnoses </div>
        <div id="collapseDiagnoses" class="collapse" aria-labelledby="headingDiagnoses">
        <div class="card-body">
            <div class="custom-control"><input type="checkbox" name="diagnoses" class="form-check-input" value="Laboratory-confirmed COVID-19 diagnosis; U07.1">Laboratory-confirmed COVID-19 diagnosis; U07.1</div>
            <div class="custom-control"><input type="checkbox" name="diagnoses" class="form-check-input" value="Suspect or probable COVID-19 diagnosis; U07.2">Suspect or probable COVID-19 diagnosis; U07.2</div>
        </div>
      </div>
    </div>

      <div class="card">
          <div data-toggle="collapse" data-target="#collapseMaterials" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseMaterials" id="headingMaterials"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Materials </div>
          <div id="collapseMaterials" class="collapse" aria-labelledby="headingMaterials">
          <div class="card-body">
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Buffy Coat">Buffy Coat</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="cDNA / mRNA">cDNA / mRNA</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Cell lines">Cell lines</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Cerebrospinal fluid">Cerebrospinal fluid</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="DNA">DNA</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Feces">Feces</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="microRNA">microRNA</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Nasal swab">Nasal swab</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Other">Other</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Pathogen">Pathogen</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="PBMC">PBMC</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Peripheral blood cells">Peripheral blood cells</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Plasma">Plasma</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="RNA">RNA</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Saliva">Saliva</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Serum">Serum</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Throat swab">Throat swab</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Tissue (frozen)">Tissue (frozen)</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Tissue (paraffin preserved)">Tissue (paraffin preserved)</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Tissue (stained sections/slides)">Tissue (stained sections/slides)</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Urine">Urine</div>
              <div class="custom-control"><input type="checkbox" name="materials" class="form-check-input" value="Whole Blood">Whole Blood</div>
          </div>
        </div>
      </div>

      <div class="card">
          <div data-toggle="collapse" data-target="#collapseCollectionTypes" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseCollectionTypes" id="headingCollectionTypes"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Collection types </div>
          <div id="collapseCollectionTypes" class="collapse" aria-labelledby="headingCollectionTypes">
          <div class="card-body">
              <div class="custom-control"><input type="checkbox" name="collectiontypes" class="form-check-input" value="Healthcare sample collection">Healthcare sample collection</div>
              <div class="custom-control"><input type="checkbox" name="collectiontypes" class="form-check-input" value="Research sample collection">Research sample collection</div>
          </div>
        </div>
      </div>

      <!-- <div class="card">
          <div data-toggle="collapse" data-target="#collapseDataTypes" class="card-header collapsed" role="button" tabindex="0" aria-expanded="false" aria-controls="collapseDataTypes" id="headingDataTypes"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> Data types </div>
          <div id="collapseDataTypes" class="collapse" aria-labelledby="headingDataTypes">
          <div class="card-body">
              <div class="custom-control"><input type="checkbox" name="datatypes" class="form-check-input" value="Biological samples">Biological samples</div>
              <div class="custom-control"><input type="checkbox" name="datatypes" class="form-check-input" value="Medical records">Medical records</div>
          </div>
        </div>
      </div> -->

      <div class="mt-4"><h6>Database info</h6></div>

      <div class="card pl-2">
        {{ $collections := where .Site.RegularPages "Section" "collections" }}
        {{ $len_collections := len $collections }}
        {{ $biobanks_and_collections := where .Site.Pages "Section" "collections" }}
        {{ $len_biobanks := sub (sub (len $biobanks_and_collections) 1) $len_collections }}
        <div class="row"><div class="col">Biobanks: {{ $len_biobanks }}</div></div>
        <div class="row"><div class="col">Collections: {{ $len_collections }}</div></div>
        </div>

  </div>

  <div class="col-md-9 mt-4 mt-md-0">
    <div class="row">
      <div class="col-md-12">
        <div class="d-md-none alert alert-info small">Scroll the table sideways to view all columns.</div>
        <div class="table-responsive">
          <table id="collections" class="table table-hover" width="100%">
            <thead class="thead-light">
              <tr>
                <th scope="col">Biobank</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Materials</th>
                <th scope="col">Diagnoses</th>
              </tr>
            </thead>
            <tbody>
              {{ range sort .Site.RegularPages ".Parent.Params.name" "asc" }}
              <tr>
                <td>{{ .Parent.Params.acronym }}</td>
                <td><h6><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></h6></td>
                <td><span class="m-1 badge badge-secondary">{{ .Params.collection_category }}</span></td>
                <td><span class="m-1 badge badge-success">{{ if eq .Params.order_of_magnitude 0 }}
                              &#60;10
                              {{ else if eq .Params.order_of_magnitude 1 }}
                              10 - 100
                              {{ else if eq .Params.order_of_magnitude 2 }}
                              100 - 1000
                              {{ else if eq .Params.order_of_magnitude 3 }}
                              1000 - 10.000
                              {{ else if eq .Params.order_of_magnitude 4 }}
                              10.000 - 100.000
                              {{ else if eq .Params.order_of_magnitude 5 }}
                              100.000 - 1.000.000
                              {{ else if eq .Params.order_of_magnitude 6 }}
                              1.000.000 - 10.000.000
                              {{ else if eq .Params.order_of_magnitude 7 }}
                              10.000.000 - 100.000.000
                              {{ else if eq .Params.order_of_magnitude 8 }}
                              100.000.000 - 1.000.000.000
                              {{ end }}</span></td>
                <td><span class="m-1 badge badge-danger">{{ range (.GetTerms "materials") }}</span>
                    <span class="m-1 badge badge-danger taxonomy-term"><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></span>
                  {{ end }}</td>
                <td>{{ if .Params.diagnosis_available }}{{ range .Params.diagnosis_available}}
                  {{ if eq . "urn:miriam:icd:U07.1" }}
                  <span class="m-1 badge badge-primary">Laboratory-confirmed COVID-19 diagnosis; U07.1</span>
                  {{ end }}
                  {{ if eq . "urn:miriam:icd:U07.2" }}
                  <span class="m-1 badge badge-primary">Suspect or probable COVID-19 diagnosis; U07.2</span>
                  {{ end }}
                {{ end }}{{ end }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var collapsedGroups = {};
    var top = '';

    var table = $('#collections').DataTable({
      "sDom": '<"top row"<"col-md"i>>rt<"bottom row"<"col-md"l><"col-md"p>><"clear">',
      "columnDefs": [{ "orderable": false, "targets": [2, 3] },
        {"targets": [0,5],  "visible": false}],
      "language": {
      "lengthMenu": "Show _MENU_ collections per page",
      "zeroRecords": "Nothing found.",
      "info": "Showing _START_ to _END_ of _TOTAL_ collections",
      "infoEmpty": "No collections found",
      "infoFiltered": "(filtered from _MAX_ collections in total)",
      "search": "Search:",
      "paginate": {
        "first": "First",
        "last": "Last",
        "next": "»",
        "previous": "«"
        }
      },
      rowGroup: {
          dataSrc: [0],
          startRender: function(rows, group, level) {
              var all;

              if (level === 0) {
                  top = group;
                  all = group;
              } else {
                  // if parent collapsed, nothing to do
                  if (!!collapsedGroups[top]) {
                      return;
                  }
                  all = top + group;
              }

              var collapsed = !!collapsedGroups[all];

              rows.nodes().each(function(r) {
                  r.style.display = collapsed ? 'none' : '';
              });

              // Add category name to the <tr>. NOTE: Hardcoded colspan
              return $('<tr/>')
                  .append('<td colspan="6"><span aria-hidden="true" class="fa fa-caret-right mr-2"></span><span aria-hidden="true" class="fa fa-caret-down mr-2"></span> ' + group + ' (' + rows.count() + '):</td>')
                  .attr('data-name', all)
                  .toggleClass('collapsed', collapsed);
          }
      }

      }
      );

    $('#collections tbody').on('click', 'tr.group-start', function () {
         var name = $(this).data('name');
         collapsedGroups[name] = !collapsedGroups[name];
         table.draw(false);
     });

  // Search field filter
  $('#nameField').on('keyup', function () {
    table.column(1).search( this.value ).draw();
  } )

  // Checkbox filters

  $('input:checkbox').on('change', function () {
    // Type filter
    var collectiontypes = $('input:checkbox[name="collectiontypes"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(2).search(collectiontypes, false, true, true).draw(false);

    // Materials filter
    var materials = $('input:checkbox[name="materials"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(4).search(materials, false, true, true).draw(false);

    // Diagnoses filter
    var diagnoses = $('input:checkbox[name="diagnoses"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(5).search(diagnoses, false, true, true).draw(false);

  });

} );
</script>

<script type="text/javascript" charset="utf8"
  src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

{{ end }}
