{{ define "main" }}

<div class="row pl-0">
  <div class="col">
    <a href="/">Home</a> / {{ .Params.name }}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row mr-1">
      <div class="col-auto">
        <div class="mg-report-title">
          <h4><span class="badge badge-secondary">Biobank</span></h4>
          <h1>{{ .Params.name }}</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pl-0">
        <div class="col-md-8 pl-0">
          {{ if .Params.acronym }}<div class="row">
            <div class="col-auto font-weight-bold">Acronym:</div>
            <div class="col pl-0">{{ .Params.acronym }}</div>
          </div>{{ end }}
          {{ if .Params.juridical_person }}
          <div class="row">
            <div class="col-auto font-weight-bold">Juridical person:</div>
            <div class="col pl-0">{{ .Params.juridical_person }}</div>
          </div>{{ end }}
          {{ if .Params.ivo_regnum }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Biobank registration number at IVO:</div>
            <div class="col pl-0">{{ .Params.ivo_regnum }}
            </div>
          </div>{{ end }}
          <h4 class="mt-3 mb-3">Collections</h4>
          {{ $n_collections := len .Pages }}
          {{ range $ind, $cont := .Pages }}
          <div class="pl-0">
            <div>
              <h5><a href="{{ .RelPermalink }}" class="">{{ .Params.name }}</a></h5>
              {{ if .Params.description }}<div class="mg-report-description mb-3">
                <b>Description:</b> {{ if gt (len .Params.description) 250 }}{{ substr .Params.description 0 250 }}[...]{{ else }}{{ .Params.description }}{{ end }}
              </div>{{ end }}
              <table class="mg-report-details-list mb-3">
                <caption style="display: none;">Details list</caption>
                {{ if .Params.order_of_magnitude }}
                <tr>
                  <th scope="row" class="pr-1">Size:</th>
                  <td><span class="m-1 badge badge-teal">
                    {{ if eq .Params.order_of_magnitude 0 }}
                    &#60;10
                    {{ else if eq .Params.order_of_magnitude 1 }}
                    10 - 100
                    {{ else if eq .Params.order_of_magnitude 2 }}
                    100 - 1000
                    {{ else if eq .Params.order_of_magnitude 3 }}
                    1000 - 10.000
                    {{ else if eq .Params.order_of_magnitude 4 }}
                    10.000 - 100.000
                    {{ else if eq .Params.order_of_magnitude 5 }}
                    100.000 - 1.000.000
                    {{ else if eq .Params.order_of_magnitude 6 }}
                    1.000.000 - 10.000.000
                    {{ else if eq .Params.order_of_magnitude 7 }}
                    10.000.000 - 100.000.000
                    {{ else if eq .Params.order_of_magnitude 8 }}
                    100.000.000 - 1.000.000.000
                    {{ end }}
                  </span></td>
                </tr> {{ end }}
                <tr>
                  <th scope="row" class="pr-1">Materials:</th>
                  <td>{{ range (.GetTerms "materials") }}
                    <span class="m-1 badge badge-blue taxonomy-term"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
                    {{ end }}</td>
                </tr>
                <tr>
                  <th scope="row" class="pr-1">Collection type:</th>
                  <td><span class="m-1 badge badge-secondary">{{ .Params.collection_category }}</span></td>
                </tr>
                <!-- <tr>
                  <th scope="row" class="pr-1">Data:</th>
                  <td>{{ range .Params.data_categories }}
                    <span class="m-1 badge badge-info">{{ . }}</span>
                  {{ end }}</td>
                </tr> -->
              </table>
            </div>
          </div>
          {{ if ne $ind (sub $n_collections 1) }}<hr>{{ end }}
          {{ end }}
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-text">
                <h5>Contact information</h5>
                {{ if .Params.email }}
                <div class="row">
                  <div class="col"><i class="bi bi-envelope-fill mr-1"></i>{{ .Params.email }}</div>
                </div>{{ end }}
                {{ if .Params.website_url }}
                <div class="row">
                  <div class="col"><i class="bi bi-globe mr-1"></i><a href="{{ .Params.website_url }}" target="_blank">Biobank homepage</a></div>
                </div>{{ end }}
                {{ if .Params.biobank_sverige }}<div class="mt-2"><b>Part of:</b><br><a href="https://biobanksverige.se/"><img src="https://covid19dataportal.se/img/logos/biobanksverige_logo.jpg" rel="Part of Biobank Sverige" style="height: 60px;"></a></div>{{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
