{{ define "main" }}

<div class="row">
  <div class="col">
    <a href="/">Home</a> / <a href="{{ .Parent.RelPermalink }}">{{ .Parent.Params.name }}</a> / {{ .Params.name }}
  </div>
</div>
<div class="row">
  <div class="col">
    <div>
      <h4><span class="badge badge-secondary">Collection</span></h4>
      <h1>{{ .Params.name }}</h1>
    </div>
    <div class="container p-0">
      <div class="row">
        <div class="col ml-0">
          {{ if .Params.description }}<div class="mb-3">
            <b>Description:</b> {{ .Params.description }}
          </div>{{ end }}
          {{ if .Params.acronym }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Acronym:</div>
            <div class="col pl-0">{{ .Params.acronym }}
            </div>
          </div>{{ end }}
          {{ if .Params.parent_collection }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Parent collection:</div>
            <div class="col pl-0">{{ .Params.parent_collection }}
            </div>
          </div>{{ end }}
          {{ if .Params.sub_collections }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Child collection(s):</div>
            <div class="col pl-0">{{ .Params.sub_collections }}
            </div>
          </div>{{ end }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Biobank:</div>
            <div class="col pl-0">{{ .Parent.Params.name }}
            </div>
          </div>
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Local collection ID (within the biobank):</div>
            <div class="col pl-0">{{ .Params.local_id }}</div>
          </div>
          {{ if .Params.bbmri_id }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">BBMRI-ERIC ID:</div>
            <div class="col pl-0">{{ .Params.bbmri_id }}
            </div>
          </div>{{ end }}
          <div class="row ml-0 mt-3">
            <h4>General information</h4>
          </div>
          {{ if .Params.order_of_magnitude }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Collection size:</div>
            <div class="col pl-0">
              {{ if eq .Params.order_of_magnitude 0 }}
              &#60;10
              {{ else if eq .Params.order_of_magnitude 1 }}
              10 - 100
              {{ else if eq .Params.order_of_magnitude 2 }}
              100 - 1000
              {{ else if eq .Params.order_of_magnitude 3 }}
              1000 - 10.000
              {{ else if eq .Params.order_of_magnitude 4 }}
              10.000 - 100.000
              {{ else if eq .Params.order_of_magnitude 5 }}
              100.000 - 1.000.000
              {{ else if eq .Params.order_of_magnitude 6 }}
              1.000.000 - 10.000.000
              {{ else if eq .Params.order_of_magnitude 7 }}
              10.000.000 - 100.000.000
              {{ else if eq .Params.order_of_magnitude 8 }}
              100.000.000 - 1.000.000.000
              {{ end }}
              (as of {{ substr .Params.timestamp 0 10 }})</div>
          </div> {{ end }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Type:</div>
            <div class="col pl-0"> {{ range .Params.collection_type }}
              <span class="m-1 badge badge-info">{{ . }}</span>
              {{ end }}
            </div>
          </div>
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Data:</div>
            <div class="col pl-0"> {{ range .Params.data_categories }}
              <span class="m-1 badge badge-secondary">{{ . }}</span>
              {{ end }}
            </div>
          </div>
          {{ if .Params.sampling_startdate }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Start date of sampling:</div>
            <div class="col pl-0">{{ substr .Params.sampling_startdate 0 10 }}</div>
          </div>
          {{ end }}
          {{ if .Params.sampling_enddate }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">End date of sampling:</div>
            <div class="col pl-0">{{ substr .Params.sampling_enddate 0 10 }}</div>
          </div>
          {{ end }}
          {{ if .Params.storage_duration }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Collection preserved at least until:</div>
            <div class="col pl-0">{{ substr .Params.storage_duration 0 10 }}</div>
          </div>
          {{ end }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Ethical approval number:</div>
            <div class="col pl-0">{{ .Params.ethics_id }}</div>
          </div>
          <div class="row ml-0 mt-3">
            <h4>Donor information</h4>
          </div>
          {{ if .Params.diagnosis_available }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Diagnoses:</div>
            <div class="col pl-0">
              {{ range .Params.diagnosis_available}}
                {{ if eq . "urn:miriam:icd:U07.1" }}
                <span class="m-1 badge badge-primary">Laboratory-confirmed COVID-19 diagnosis; U07.1</span>
                {{ end }}
                {{ if eq . "urn:miriam:icd:U07.2" }}
                <span class="m-1 badge badge-primary">Suspect or probable COVID-19 diagnosis; U07.2</span>
                {{ end }}
              {{ end }}
            </div>
          </div>{{ end }}
          {{ if .Params.order_of_magnitude_donors }}
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Number of donors:</div>
            <div class="col pl-0">
              {{ if eq .Params.order_of_magnitude_donors 0 }}
              &#60;10
              {{ else if eq .Params.order_of_magnitude_donors 1 }}
              10 - 100
              {{ else if eq .Params.order_of_magnitude_donors 2 }}
              100 - 1000
              {{ else if eq .Params.order_of_magnitude_donors 3 }}
              1000 - 10.000
              {{ else if eq .Params.order_of_magnitude_donors 4 }}
              10.000 - 100.000
              {{ else if eq .Params.order_of_magnitude_donors 5 }}
              100.000 - 1.000.000
              {{ else if eq .Params.order_of_magnitude_donors 6 }}
              1.000.000 - 10.000.000
              {{ else if eq .Params.order_of_magnitude_donors 7 }}
              10.000.000 - 100.000.000
              {{ else if eq .Params.order_of_magnitude_donors 8 }}
              100.000.000 - 1.000.000.000
              {{ end }}
            </div>
          </div>{{ end }}
          {{ $info_about_autopsy := string .Params.autopsy }}
          {{ if $info_about_autopsy }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Samples from deceased (autopsy):</div>
            <div class="col pl-0">{{ if eq $info_about_autopsy "true" }}yes{{ else if eq $info_about_autopsy "false" }}no{{ end }}</div>
          </div> {{ end }}
          {{ $info_about_minors := string .Params.minors }}
          {{ if $info_about_minors }}<div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Samples from minors (&lt;18 years old):</div>
            <div class="col pl-0">{{ if eq $info_about_minors "true" }}yes{{ else if eq $info_about_minors "false" }}no{{ end }}</div>
          </div> {{ end }}
          {{ if .Params.inclusion_criteria }}<div class="row ml-0">
              <div class="col-auto pl-0 font-weight-bold">Inclusion criteria:</div>
              <div class="col pl-0">{{ .Params.inclusion_criteria }}</div>
            </div>{{ end }}
          {{ if .Params.exclusion_criteria }}<div class="row ml-0">
              <div class="col-auto pl-0 font-weight-bold">Exclusion criteria:</div>
              <div class="col pl-0">{{ .Params.exclusion_criteria }}</div>
            </div>{{ end }}
          <div class="row ml-0 mt-3">
            <h4>Sample information</h4>
          </div>
          <div class="row ml-0">
            <div class="col-auto pl-0 font-weight-bold">Materials:</div>
            <div class="col pl-0">{{ range .Params.materials }}
              <span class="m-1 badge badge-danger">{{ . }}</span>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="card-text">
                {{ if .Params.display_collection_contact }}
                <h5>Collection contact information</h5>
                {{ if .Params.head_firstname }}<div class="row"><div class="col">Collection head: {{ .Params.head_firstname }} {{ .Params.head_lastname }} {{ if .Params.head_role }}({{ .Params.head_role }}){{ end }}</div></div>{{ end }}
                <div class="row"><div class="col">Contact person: {{ .Params.collection_contact.first_name }} {{ .Params.collection_contact.last_name }}</div></div>
                <div class="row"><div class="col"><span aria-hidden="true" class="fa fa-fw fa-envelope mr-2"></span><span>{{ .Params.collection_contact.email }} </span></div></div>
                {{ if .Params.website_url }}<div class="row"><div class="col"><span aria-hidden="true" class="fa fa-fw fa-globe mr-2"></span><a href="{{ .Params.website_url }}" target="_blank"><span>Collection homepage</span></a></div></div>{{ end }}
                {{ end }}
                <h5>Biobank contact information</h5>
                <div class="row"><div class="col">{{ .Parent.Params.name }}</div></div>
                {{ if .Parent.Params.ivo_regnum }}<div class="row"><div class="col">Registration number at IVO: {{ .Parent.Params.ivo_regnum }}</div></div>{{ end }}
                {{ if .Parent.Params.email }}<div class="row"><div class="col"><span aria-hidden="true" class="fa fa-fw fa-envelope mr-2"></span><span>{{ .Parent.Params.email }}</span></div></div>{{ end }}
                {{ if .Parent.Params.website_url }}<div class="row"><div class="col"><span aria-hidden="true" class="fa fa-fw fa-globe mr-2"></span><a href="{{ .Parent.Params.website_url }}" target="_blank"><span>Biobank homepage</span></a></div></div>{{ end }}
                <div class="row mt-2"><div class="col"><a href="{{ .Parent.RelPermalink }}" class=""><span>All collections of {{ .Parent.Params.name }}</span> <span aria-hidden="true" class="fa fa-fw fa-arrow-circle-right"></span></a></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{ end }}
